<nav class="mobi" id="mnav">
    <ul>
        <li><a href="{{ .Site.BaseURL }}/gerador-de-nick/">
            <i class="bi bi-pencil-square" style="font-size: 24px;"></i>
            <span class="navf">Gerador de Nick</span>
        </a></li>
        <li><a href="{{ .Site.BaseURL }}/simbolos/">
            <i class="bi bi-emoji-smile" style="font-size: 24px;"></i>
            <span class="navf">Simbolos</span>
        </a></li>
        <li><a href="{{ .Site.BaseURL }}/letras-diferentes/">
            <i class="bi bi-fonts" style="font-size: 24px;"></i>
            <span class="navf">Letras Diferentes</span>
        </a></li>
        <li><a href="{{ .Site.BaseURL }}/emoticons/">
            <i class="bi bi-emoji-heart-eyes" style="font-size: 24px;"></i>
            <span class="navf">Emoticons</span>
        </a></li>
    </ul>
</nav>