<!-- layouts/shortcodes/ads.html -->
<div id="ad-container" class="ad-container">
  <script data-cfasync='false' type='text/javascript'>
    (function (document, window) {
        var adContainer = document.getElementById('ad-container');
        if (adContainer) {
            var c = document.createElement("script");

            c.id = "CleverCoreLoader65781";
            c.src = "https://scripts.cleverwebserver.com/23858677653016224382409b6a36acaf.js";

            c.async = true;
            c.type = "text/javascript";
            c.setAttribute("data-target", window.name || (window.frameElement && window.frameElement.getAttribute("id")));
            c.setAttribute("data-callback", "put-your-callback-function-here");
            c.setAttribute("data-callback-url-click", "put-your-click-macro-here");
            c.setAttribute("data-callback-url-view", "put-your-view-macro-here");

            adContainer.appendChild(c);
        }
    })(document, window);
  </script>
</div>