<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<input id="input" placeholder="Seu texto aqui!!"/>
<div id="output-res">
<input id="style1" readonly/><button type="submit" onclick="CopyText('style1')">Copiar</button>
</div>
<div id="output-res">
<input id="style2" readonly/><button type="submit" onclick="CopyText('style2')">Copiar</button>
</div>
<div id="output-res">
<input id="style3" readonly/><button type="submit" onclick="CopyText('style3')">Copiar</button>
</div>
<div id="output-res">
<input id="style4" readonly/><button type="submit" onclick="CopyText('style4')">Copiar</button>
</div>
<div id="output-res">
<input id="style5" readonly/><button type="submit" onclick="CopyText('style5')">Copiar</button>
</div>
<div id="output-res">
<input id="style6" readonly/><button type="submit" onclick="CopyText('style6')">Copiar</button>
</div>
<div id="output-res">
<input id="style7" readonly/><button type="submit" onclick="CopyText('style7')">Copiar</button>
</div>
<div id="output-res">
<input id="style8" readonly/><button type="submit" onclick="CopyText('style8')">Copiar</button>
</div>
<div id="output-res">
<input id="style9" readonly/><button type="submit" onclick="CopyText('style9')">Copiar</button>
</div>
<div id="output-res">
<input id="style10" readonly/><button type="submit" onclick="CopyText('style10')">Copiar</button>
</div>
<div id="output-res">
<input id="style11" readonly/><button type="submit" onclick="CopyText('style11')">Copiar</button>
</div>
<div id="output-res">
<input id="style12" readonly/><button type="submit" onclick="CopyText('style12')">Copiar</button>
</div>
<div id="output-res">
<input id="style13" readonly/><button type="submit" onclick="CopyText('style13')">Copiar</button>
</div>
<div id="output-res">
<input id="style14" readonly/><button type="submit" onclick="CopyText('style14')">Copiar</button>
</div>
<div id="output-res">
<input id="style15" readonly/><button type="submit" onclick="CopyText('style15')">Copiar</button>
</div>
<div id="newfontsload"></div>
<div  id="randomfontsload"></div>
<center>
<button class="more" onclick="loadmore()">Carregue mais +</button>
</center>